@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

body {
  background-color: #111;
  background-image: url(./assets/backgroundImgSmall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(82, 76, 243);
  margin-bottom: 50px;
  border-radius: 10px;
}

.navbar--navTitle {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar--navTitle > h1 {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 10px #333;
  font-size: 3rem;
}

.navbar--logo {
  height: 70px;
  width: auto;
  background-color: #ffe6ff;
  border-radius: 25px;
  border: 3px solid rgb(65, 23, 162);
  margin: 0 10px 0 30px;
}

.navbar--demoBy {
  display: flex;
  align-items: center;
}

.navbar--p {
  color: #fff;
}

.navbar--icsLogo {
  padding-top: 7px;
  height: 25px;
  width: auto;
  margin-right: 20px;
}

.memeForm {
  background-color: rgb(36, 36, 36, 0.8);
  width: 50vw;
  margin: 0 auto;
  padding: 1px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.memeForm--inputFields {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin: 30px 0;
}

.memeForm--textField {
  height: 25px;
  border-radius: 7px;
  padding-left: 10px;
  width: 20vw;
}

.memeForm--button {
  height: 35px;
  border-radius: 7px;
  padding-left: 10px;
  width: 47vw;
  background-color: rgb(255, 128, 37);
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 30px;
}

.meme {
  width: 50vw;
  background-color: rgb(36, 36, 36, 0.8);
  position: relative;
  margin: 0 auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.meme--image {
  width: 500px;
  max-width: 90%;
  border-radius: 3px;
  margin-bottom: 30px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: "Bangers", system-ui;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 85px;
}

.top {
  top: -15px;
}

.save--button {
  height: 35px;
  border-radius: 7px;
  padding-left: 10px;
  width: 47vw;
  background-color: rgb(82, 76, 243);
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 30px;
}

@media (max-width: 925px) {
  .navbar--navTitle > h1 {
    font-size: 2.5rem;
  }
  .navbar--navTitle {
    margin-left: 0;
  }
  .meme--text {
    font-size: 2.5em;
  }
}

@media (max-width: 850px) {
  .navbar--demoBy {
    z-index: 2;
    height: 35px;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: fixed;
    right: 2px;
    bottom: 2px;
    background-color: rgb(36, 36, 36, 0.8);
  }
  .meme--text {
    font-size: 2.2em;
  }
}

@media (max-width: 600px) {
  .navbar--navTitle > h1 {
    font-size: 2rem;
  }
  .navbar--logo {
    margin: 0 10px 0 20px;
  }
  label {
    font-size: 0.9em;
  }
  input {
    font-size: 0.9em;
  }
  .memeForm--button,
  .save--button {
    font-size: 1em;
  }
  .meme--text {
    font-size: 2em;
  }
}

@media (max-width: 460px) {
  .navbar--navTitle > h1 {
    font-size: 1.6em;
  }
  label {
    font-size: 0.8em;
  }
  input {
    font-size: 0.8em;
  }
  .memeForm--button,
  .save--button {
    font-size: 0.9em;
  }
  .meme--text {
    font-size: 2em;
  }
}
